main {
  width: 80%;
  margin: 3rem auto;
}

.container {
  border: 1px solid black;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: 1fr 10% 1fr 40%;
  grid-template-rows: 14rem 3rem 6rem 6rem 6rem;

}
.container div {
  background-color: lightgray;
  margin: .5rem;
  border: 1px solid black;
  flex: 1 1 20%;
}
div:nth-child(2), div:nth-child(6) {
  /* flex: 0 1 10%; */
  background-color: lightgreen;
}
div:nth-child(4), div:nth-child(8) {
  /* flex: 3 0 40%; */
  background-color:skyblue;
}

div#red {
  background-color: crimson;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
}
