main {
  width: 80%;
  margin: 3rem auto;
}

.container {
  border: 1px solid black;
  display: flex;
}
.container div {
  background-color: lightgray;
  margin: .5rem;
  border: 1px solid black;
  flex: 1 1 20%;
}
div:nth-child(2) {
  flex: 0 1 10%;
  background-color: lightgreen;
}
div:nth-child(4) {
  flex: 3 0 40%;
  background-color:skyblue;
}