* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: cornsilk;
  color: saddlebrown;
}

h1 {
  font-size: 5rem;
  color: rosybrown;
  line-height: .8;
  margin: 3rem 0 1rem;
}

main {
  width: 1024px;
  margin: 3rem auto;
}

#siteLogo {
  width: 250px;
  z-index: 2;
}

section {
  /* This element will be a grid item, but also a flex container */
  background-color: rgba(211, 187, 176, 0.3);
  padding: 2rem;
}

section img {
  width: 460px;
  max-height: 26rem;
}

ul {
  margin: 1rem;
}

/* -- button -- */
section + div {
  background-color: rgba(128, 128, 128, 0.734);
  color: lightgrey;
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: .8rem;
  margin: 1rem;
}