* {
  box-sizing: border-box;
}

header {
  background-color: lightcyan;
}

body {
  background-color: rgb(243, 252, 252);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-size: 3rem;
  /*font-style: italic;*/
  padding: 1rem;
  color:  rgb(112, 159, 165);
  border-bottom: 10px double rgb(112, 159, 165);
  font-family: 'Special Elite', cursive;
}

main {
  width: 80%;
  margin: 3rem auto;
}

article {
  border: 1px solid rgb(112, 159, 165);
  padding: 1rem;
  margin: 1rem;
}

h2 {
  color: rgb(112, 159, 165);
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

h3 {
  color: rgb(112, 159, 165);
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Special Elite', cursive;
}

ul {
  margin-left: 1rem;
  list-style: square;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
}

a {
  color: rgb(112, 159, 165);
}
